@font-face {
  font-family: "neu";
  src: url("./fonts/NeueMachina.ttf");
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.display-msg {
  color: whitesmoke;
  font-size: 2rem;
  border: 2px solid rgb(235, 173, 173);
  width: 300px;
  text-align: center;
  margin-top: 30px;
  border-radius: 10px;
  font-family: "neu";
  font-size: 27px;
  padding: 5px;
}
.roll-button {
  background-color: #4fcba2;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 10%;
  margin-top: 30px;
  font-size: 30px;
  cursor: pointer;
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
